API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=123456:ABCDEFghi_jkl
OWNER_ID=123456789  # or comma separated "1111,2222"
MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net/pdfbot?retryWrites=true&w=majority
PORT=8080
